<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ext.eclipse.hibernate.bean.configure">
      <path
            class="ext.eclipse.ide.auth.role.impl.UserImpl"
            path="hbm/user.hbm.xml">
      </path>
      <path
            class="ext.eclipse.ide.auth.role.impl.RoleImpl"
            path="hbm/role.hbm.xml">
      </path>
   </extension>
   <extension
         point="ext.eclipse.hibernate.database.mapping">
      <mapping
            database.id="ext.eclipse.hibernate.hsqldb"
            javabean.id="ext.eclipse.ide.auth.role.impl.UserImpl">
      </mapping>
      <mapping
            database.id="ext.eclipse.hibernate.hsqldb"
            javabean.id="ext.eclipse.ide.auth.role.impl.RoleImpl">
      </mapping>
   </extension>

</plugin>
