<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ext.eclipse.edm.views"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="ext.eclipse.edm.navigator"
            name="%edm.navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="ext.eclipse.edm.navigator">
         <includes>
            <contentExtension
                  pattern="ext.eclipse.edm.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="ext.eclipse.edm.navigator">
         <includes>
            <actionExtension
                  pattern="ext.eclipse.edm.navigator.actions.*">
            </actionExtension></includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            appearsBefore="org.eclipse.ui.navigator.resourceContent"
            contentProvider="ext.eclipse.edm.navigator.view.EdmContentProvider"
            id="ext.eclipse.edm.navigatorContent"
            labelProvider="ext.eclipse.edm.navigator.view.EdmLableProvider"
            name="%edm.navigatorContent"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="ext.eclipse.edm.navigator.actions.EdmActionProvider">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ext.eclipse.edm.perspective">
         <view
               id="ext.eclipse.edm.navigator"
               minimized="false"
               relationship="stack"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
