<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/auth/images"
            base-name="/WebContent/auth/images">
      </resource>
        <resource
            alias="/auth/ext"
            base-name="/WebContent/auth/ext">
      </resource>
      <resource
            alias="/auth/css"
            base-name="/WebContent/auth/css">
      </resource>
      <resource
            alias="/auth/js"
            base-name="/WebContent/auth/js">
      </resource>
      <resource
            alias="/auth/test/js"
            base-name="/WebContent/auth/test/js">
      </resource>
      <resource
            alias="/dojo/js"
            base-name="/WebContent/dojo/js">
      </resource>
      <resource
            alias="/dojo/images"
            base-name="/WebContent/dojo/images">
      </resource>
      <resource
            alias="/dojo/css"
            base-name="/WebContent/dojo/css">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets"> 
       <servlet
            alias="/auth/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/">
      </servlet>
      <servlet
            alias="/auth/*.html"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/">
      </servlet>
      <servlet
            alias="/auth/*.htm"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/">
      </servlet>
            <servlet
            alias="/auth/ide_auth/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/ide_auth/">
      </servlet>      
      <servlet
            alias="/auth/ide_auth/dialog/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/ide_auth/dialog/">
      </servlet>
       <servlet
            alias="/auth/iframe/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/iframe/">
      </servlet>
     <servlet
            alias="/auth/include/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/include/">
      </servlet>           
      <servlet
            alias="/auth/system/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/system/">
      </servlet>
            <servlet
            alias="/auth/system/dialog/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/system/dialog/">
      </servlet>
      <servlet
            alias="/auth/test/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/auth/test/">
      </servlet>
      <servlet
            alias="/dojo/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/dojo/">
      </servlet>
      <servlet
            alias="/dojo/*.html"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/WebContent/dojo/">
      </servlet>
      </extension>
</plugin>
