<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ext.eclipse.hibernate.database.configure">
      <property
            cache.provider_class="org.hibernate.cache.NoCacheProvider"
            connection.driver_class="org.hsqldb.jdbcDriver"
            connection.pool_size="1"
            connection.url="jdbc:hsqldb:hsql://localhost/mydb"
            connection.username="sa"
            current_session_context_class="thread"
            database.id="ext.eclipse.hibernate.hsqldb"
            dialect="org.hibernate.dialect.HSQLDialect"
            hbm2ddl.auto="create"
            show_sql="true">
      </property>
   </extension>

</plugin>
